.description_button {
    opacity: 0.8;
    border: 1px solid #4b4a4a;
    height: 5%;
    width: 15%;
    background: #b6cbcb;
    border-radius: 12px;
    color: #fff;
    position: absolute;
    bottom: 40%;
    left: 42.5%
}

.description_button:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}